<p>Hello <%= @applicant.mail_id %>,</p>

<p>You have been invited to take the exam: <strong><%= @exam.title %></strong>.</p>

<p>Please click the link below to start your exam:</p>

<p><%= link_to 'Start Exam', @exam_url %></p>

<p>Good luck!</p>
