<p>Hello <%= @applicant.name %>,</p>

<p>Your OTP to access the exam "<%= @exam.title %>" is: <strong><%= @otp %></strong></p>

<p>Please use this OTP to log in and take your exam.</p>

<p>Good luck!</p>
